@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "MyriadPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "MyriadPro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  background-color: #fff;
  font-size: 1rem;
}

body.lock {
  overflow: hidden;
}

body .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .page .page__body {
  height: 100vh;
}

body .page .page-slider {
  overflow: hidden;
  min-width: 0;
  height: 100%;
}

body .page .page-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

body .page .page-slider .slick-list {
  height: 100%;
}

body .page .page-slider__item {
  height: 100%;
  -webkit-transform: skew(-18.1deg) translate(-28%, 0);
      -ms-transform: skew(-18.1deg) translate(-28%, 0);
          transform: skew(-18.1deg) translate(-28%, 0);
  border-right: 5px solid #f1ac11;
  min-width: 41.5vw;
  position: relative;
}

body .page .page-slider__item:before {
  content: "";
  position: absolute;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

body .page .page-slider__item:first-child .item-page__content {
  -webkit-transform: skew(18.1deg) translate(20%, 0);
      -ms-transform: skew(18.1deg) translate(20%, 0);
          transform: skew(18.1deg) translate(20%, 0);
}

body .page .page-slider__item:last-child .item-page__content {
  -webkit-transform: skew(18.1deg) translate(-31%, 0);
      -ms-transform: skew(18.1deg) translate(-31%, 0);
          transform: skew(18.1deg) translate(-31%, 0);
}

body .page .item-page__image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .page .item-page__content {
  position: relative;
  z-index: 1;
  background: url("../img/page/back1.png") 0/cover no-repeat;
  padding: 3.6vh 3.6vw;
  max-width: 19.5vw;
  margin: 41vh auto;
  -webkit-transform: skew(18.1deg);
      -ms-transform: skew(18.1deg);
          transform: skew(18.1deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .page .item-page__title {
  display: inline-block;
  font-size: calc(24px + 14 * (100vw / 1920));
  letter-spacing: 0.07rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

body .page .item-page__button {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.5rem 2rem;
  margin-top: 0.71rem;
}

.button {
  font-size: 0.85rem;
  color: black;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  background-color: #ffad00;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

.container1 {
  max-width: calc(1777px + 1rem);
  margin: 0 auto;
  padding: 0 1rem;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18.2vh;
  width: 100%;
  align-items: center;
  position: relative;
}

.logo {
  background: url("../img/header/logo.png") 50%/contain no-repeat;
}

.logo-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.6vw;
}

.logo-img {
  display: block;
  min-width: 2.1rem;
  padding: 0 59% 0 0;
  width: 135%;
}

.logo-text {
  font-size: 1.2rem;
  padding: 15.375% 0 13.375% 0;
  letter-spacing: 0.07rem;
  color: black;
  font-size: calc(14px + 2 * (100vw / 1920));
}

.menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2.4%;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.menu__body.active {
  right: 0;
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  display: inline-block;
  margin: 0 1.35vw;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  padding: 0.98vw 0;
  font-size: calc(16px + 6 * (100vw / 1920));
}

.icon-menu {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffae00;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.icon-menu.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.icon-menu.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.daily-menu__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 7.2vh 8.125rem;
  position: relative;
}

.daily-menu__body .slick-prev {
  font-size: 0;
}

.daily-menu__body .slick-next {
  position: absolute;
  right: 1rem;
  bottom: 22%;
  font-size: 0.75rem;
  color: #ffad00;
  font-style: italic;
  text-transform: uppercase;
  background-color: transparent;
  padding-right: 1rem;
}

.daily-menu__body .slick-next:before,
.daily-menu__body .slick-next:after {
  content: "";
  position: absolute;
  width: 0.0625rem;
  height: 0.675rem;
  right: 0;
  background-color: #cdcdcd;
}

.daily-menu__body .slick-next:before {
  top: 0.6rem;
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.daily-menu__body .slick-next:after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
  top: 0.2rem;
}

.daily-menu__title {
  color: #f1ac11;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.6vh;
  font-size: calc(24px + 18 * (100vw / 1920));
}

.daily-menu__show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  color: #2b2b2b;
  font-style: italic;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1.5vh;
}

.daily-menu__show span {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  background: url("../img/daily-menu/check.svg") 0/cover no-repeat;
  margin: 0 1.7vw 0 0.4vw;
}

.daily-menu__column {
  margin-top: 2.2vh;
}

.menu-daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-daily__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.6vh;
}

.daily-item__image-wrapper {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #418dc4;
  margin: 0 1.7vw 0 0.4vw;
}

.daily-item__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.daily-item__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.daily-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc(16px + 2 * (100vw / 1920));
  color: #2b2b2b;
  text-transform: uppercase;
  margin: 0 0 0.625rem 0;
}

.daily-item__title .daily-item__title-price {
  display: block;
  padding: 0.625rem;
  font-weight: bold;
  background: url("../img/daily-menu/price.png") 0/contain no-repeat;
  overflow: hidden;
  margin: 0 0 0 0.3rem;
}

.daily-item__title-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.daily-item__title-text:before {
  content: "";
  position: absolute;
  width: 100%;
  background-image: url("../img/daily-menu/dot.jpg");
  background-repeat: repeat;
  height: 3px;
  bottom: 0;
  z-index: 1;
}

.daily-item__title-text span {
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding-right: 0.3rem;
}

.daily-item__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8125rem;
  color: #bcbcbc;
  font-style: italic;
  text-transform: uppercase;
}

.daily-item__subtitle .daily-item__subtitle-numbers {
  display: block;
  padding-left: 0.3rem;
}

.daily-item__subtitle-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.daily-item__subtitle-text:before {
  content: "";
  position: absolute;
  width: 100%;
  background-image: url("../img/daily-menu/dot2.jpg");
  background-repeat: repeat;
  height: 3px;
  bottom: 0;
  z-index: 1;
}

.daily-item__subtitle-text span {
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding-right: 0.3rem;
}

.daily-slider {
  overflow: hidden;
  min-width: 0;
  width: 100%;
}

.daily-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #f6f6f6;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-item__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-height: 18.75rem;
  position: relative;
}

.slider-item__column:before,
.slider-item__column:after {
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: white;
  position: absolute;
  border-radius: 50%;
}

.slider-item__column_1 img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.slider-item__column_1:before {
  top: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-item__column_1:after {
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.slider-item__column_2 {
  padding: 1.56vw 4.68vw 1.56vw 1.56vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-item__column_2:before {
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border: 1px solid #f6f6f6;
}

.slider-item__column_2:after {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  border: 1px solid #f6f6f6;
}

.slider-item__special {
  font-size: 0.75rem;
  color: #ffad00;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 0.9vh;
}

.slider-item__title {
  color: #2b2b2b;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  font-size: calc(16px + 8 * (100vw / 1920));
}

.slider-item__subtitle {
  font-size: 0.875rem;
  color: #d4d4d4;
  font-style: italic;
  line-height: 1.2;
  text-align: left;
  margin: 1.8vh 0;
}

.slider-item__order {
  font-size: 0.875rem;
  color: #2b2b2b;
  font-style: italic;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.button1 {
  border-radius: 2px;
  background-color: #ffad00;
  border-bottom: 2px solid #c67e00;
  padding: 0.625rem;
}

.location {
  background: url("../img/location/background.jpg") 0 0/cover no-repeat;
  position: relative;
}

.location::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.location__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 6.8vh 0;
}

.location__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  max-width: 36.25rem;
  padding: 7.27vh 4.16vw;
  background: url("../img/location/back.png") 0 0/cover no-repeat;
  border-radius: 0.875rem;
}

.location__title {
  font-size: calc(24px + 4 * (100vw / 1920));
  color: black;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
}

.location__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__logo {
  background: none;
}

.location__logo .logo-content {
  padding: 3.6vh 1.25vw 3.6vh 0;
}

.location__logo .logo-img {
  max-height: 40px;
  max-width: 60px;
  padding-right: 1.25vw;
}

.location__logo .logo-text {
  color: #ffb300;
  padding: 0;
}

.location__subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.75rem;
          flex: 0 0 8.75rem;
  font-size: calc(14px + 4 * (100vw / 1920));
  color: black;
  font-style: italic;
  line-height: 1.2;
  text-align: left;
}

.location__subtitle span {
  display: block;
}

.location__button {
  -ms-flex-item-align: center;
      align-self: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 5;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 50rem;
  padding: 30px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: relative;
}

.popup__content_image {
  padding: 0;
}

.popup__image img {
  max-width: 100%;
  vertical-align: top;
}

.popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

iframe {
  width: 80vw;
  height: 80vh;
  max-width: 40rem;
  max-height: 40rem;
}

.footer {
  background: url("../img/footer/background.jpg") 0 0/cover no-repeat;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 6.8vh 0;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  z-index: 1;
}

.footer__column_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__column_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column_2 .column-footer__title {
  padding: 0 1vw;
  margin-bottom: 3.6vh;
}

.column-footer__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.column-footer__title {
  color: white;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 2.7vh;
  font-size: calc(16px + 6 * (100vw / 1920));
}

.column-footer__link {
  font-size: calc(14px + 3 * (100vw / 1920));
  color: #bbbbbb;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.column-footer__body {
  max-width: 21.25rem;
}

.column-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  padding: 0.625rem 1rem;
}

.email::-webkit-input-placeholder {
  font-size: 12px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
}

.email::-moz-placeholder {
  font-size: 12px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
}

.email:-ms-input-placeholder {
  font-size: 12px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
}

.email::-ms-input-placeholder {
  font-size: 12px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
}

.email::placeholder {
  font-size: 12px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
}

.column-footer__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

@media (min-width: 1170px) {
  .menu__link {
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .menu__link:hover {
    color: #f1ac11;
    border-bottom: 3px solid #f1ac11;
  }

  .location::before {
    -webkit-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }

  .location:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .footer::before {
    -webkit-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }

  .footer:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .column-footer__link {
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.3s ease-in;
    -o-transition: border-bottom 0.3s ease-in;
    transition: border-bottom 0.3s ease-in;
  }

  .column-footer__link:hover {
    border-bottom: 1px solid #bbbbbb;
  }
}

@media (min-width: 1182px) {
  body .page .page-slider__item .item-page__content {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  body .page .page-slider__item:hover .item-page__content {
    -webkit-transform: skew(18.1deg) translate(0, -30%);
        -ms-transform: skew(18.1deg) translate(0, -30%);
            transform: skew(18.1deg) translate(0, -30%);
    background: url("../img/page/back2.png") 0/cover no-repeat;
  }

  body .page .page-slider__item:hover:before {
    background-color: rgba(0, 0, 0, 0.2);
  }

  body .page .page-slider__item:hover:first-child .item-page__content {
    -webkit-transform: skew(18.1deg) translate(20%, -30%);
        -ms-transform: skew(18.1deg) translate(20%, -30%);
            transform: skew(18.1deg) translate(20%, -30%);
  }

  body .page .page-slider__item:hover:last-child .item-page__content {
    -webkit-transform: skew(18.1deg) translate(-31%, -30%);
        -ms-transform: skew(18.1deg) translate(-31%, -30%);
            transform: skew(18.1deg) translate(-31%, -30%);
  }

  .button {
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }

  .button:hover {
    -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
            transform: scale(0.97);
  }
}

@media (max-width: 1700px) {
  body .page .item-page__content {
    max-width: 26vw;
  }
}

@media (max-width: 1182px) {
  body .page .item-page__content {
    max-width: 31vw;
  }

  .location__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .location__subtitle {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding-bottom: 3.6vh;
  }
}

@media (max-width: 992px) {
  body .page .page-slider__item:before {
    background-color: rgba(0, 0, 0, 0.3);
  }

  body .page .item-page__content {
    max-width: 50vw;
    margin: 41vh 0 41vh 41vw;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
  }

  .menu__body {
    position: absolute;
    top: 18.2vh;
    left: -100%;
    max-height: 81.8vh;
    overflow: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .menu__link {
    padding: 0;
    margin: 0;
    line-height: 3;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #ffae00;
  }

  .icon-menu {
    display: block;
  }

  .daily-menu__body {
    padding: 7.2vh 1rem;
  }

  .daily-menu__body .slick-next {
    bottom: 7%;
    right: 10%;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .column-footer__block {
    margin-top: 5vh;
  }

  .column-footer__link {
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  body .page .item-page__title {
    font-size: calc(24px + (14 + 14 * 0.7) * ((100vw - 320px) / 1920));
  }

  .logo-text {
    font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1920));
  }

  .daily-menu__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .daily-menu__body .slick-next {
    right: 22vw;
    bottom: 11.2vh;
  }

  .daily-menu__title {
    font-size: calc(24px + (18 + 18 * 0.7) * ((100vw - 320px) / 1920));
  }

  .daily-menu__show {
    max-width: 31.25rem;
  }

  .menu-daily {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-daily__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 31.25rem;
  }

  .daily-item__title {
    font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 320px) / 1920));
  }

  .daily-slider {
    max-width: 31.25rem;
  }

  .slider-item__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 31.25rem;
    min-height: auto;
  }

  .slider-item__column_1:after {
    display: none;
  }

  .slider-item__column_2:before {
    display: none;
  }

  .slider-item__column_2:after {
    display: none;
  }

  .slider-item__column_2 {
    padding: 4.68vw 4.68vw 1.56vw 1.56vw;
  }

  .slider-item__title {
    font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
  }

  .location__title {
    font-size: calc(24px + (4 + 4 * 0.7) * ((100vw - 320px) / 1920));
  }

  .location__subtitle {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1920));
  }

  .column-footer__title {
    font-size: calc(16px + (6 + 6 * 0.7) * ((100vw - 320px) / 1920));
  }

  .column-footer__link {
    font-size: calc(14px + (3 + 3 * 0.7) * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 480px) {
  .daily-menu__body .slick-next {
    right: 3rem;
    bottom: 10.2vh;
  }

  .footer__column_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.webp body .page .item-page__content { background: url(../img/page/back1.webp) 0/cover no-repeat; }

.webp .logo { background: url(../img/header/logo.webp) 50%/contain no-repeat; }

.webp .daily-item__title .daily-item__title-price { background: url(../img/daily-menu/price.webp) 0/contain no-repeat; }

.webp .daily-item__title-text:before { background-image: url(../img/daily-menu/dot.webp); }

.webp .daily-item__subtitle-text:before { background-image: url(../img/daily-menu/dot2.webp); }

.webp .location { background: url(../img/location/background.webp) 0 0/cover no-repeat; }

.webp .location__block { background: url(../img/location/back.webp) 0 0/cover no-repeat; }

.webp .footer { background: url(../img/footer/background.webp) 0 0/cover no-repeat; }

@media (min-width: 1182px) {

  .webp body .page .page-slider__item:hover .item-page__content { background: url(../img/page/back2.webp) 0/cover no-repeat; }
}